<app-spinner *ngIf="isLoading$ | async"></app-spinner>
<div mat-dialog-title class="book-details-dialog__header">
 {{ book.volumeInfo.title }}
  <ng-container *ngIf="{isWishlisted: isWishlisted$ | async} as data">
    <mat-icon
    class="wishlist-icon"
    [class.wishlisted]="data.isWishlisted"
    (click)="toggle(data.isWishlisted)"
    [matTooltip]="data.isWishlisted? 'Remove from Wishlist' : 'Add to Wishlist'">favorite</mat-icon>

  </ng-container>
</div>

<mat-dialog-content class="book-details-dialog__content">
  <div class="book-details-dialog__content--img-container">
    <img [src]="book.volumeInfo.imageLinks?.thumbnail" alt="" />

  </div>
  <div class="book-details-dialog__content--info">
    <h4>{{book.volumeInfo.authors?.join(', ')}} | {{book.volumeInfo.publishedDate | date}}</h4>
    <div>
      {{book.volumeInfo.description}}
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
