:host {
  display: block;
}

.search-bar {
  display: block;
  margin: 0 auto;
  width: 500px;
}

mat-card {
  max-width: 80%;
  margin: 0 auto;
}
.content {
  height: calc(100vh - 250px);
  position: relative;
  overflow: hidden;

  .list {
    overflow: auto;
    height: 100%;
  }
}
